<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- About Start -->
<div class="container-fluid py-5" th:fragment="about-content">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="/home-stt/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Giới thiệu</h5>
                    <h1>Phòng Quan Hệ Doanh Nghiệp FPT Polytechnic</h1>
                </div>
                <p>Website hoạt động để đăng tải các hoạt động, chương trình sự kiện của phòng</p>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
</body>
</html>