<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5" th:fragment="carousel">
      <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="min-height: 300px;">
            <img class="position-relative w-100" src="home-stt/img/carousel-1.jpg" style="min-height: 300px; object-fit: cover;">
            <div class="carousel-caption d-flex align-items-center justify-content-center">
              <div class="p-5" style="width: 100%; max-width: 900px;">
                <h5 class="text-white text-uppercase mb-md-3">Cao Đẳng FPT Polytechnic</h5>
                <h1 class="display-3 text-white mb-md-4">Phòng Quan Hệ Doanh Nghiệp</h1>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Xem Thêm</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="min-height: 300px;">
            <img class="position-relative w-100" src="home-stt/img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
            <div class="carousel-caption d-flex align-items-center justify-content-center">
              <div class="p-5" style="width: 100%; max-width: 900px;">
                <h5 class="text-white text-uppercase mb-md-3">Tin Tuyển Dụng</h5>
                <h1 class="display-3 text-white mb-md-4">Các Tin Tuyển Dụng Mới Nhất</h1>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Xem Thêm</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="min-height: 300px;">
            <img class="position-relative w-100" src="home-stt/img/carousel-3.jpg" style="min-height: 300px; object-fit: cover;">
            <div class="carousel-caption d-flex align-items-center justify-content-center">
              <div class="p-5" style="width: 100%; max-width: 900px;">
                <h5 class="text-white text-uppercase mb-md-3">Thông Báo Thực Tập</h5>
                <h1 class="display-3 text-white mb-md-4">Cung Cấp Thông Tin Thực Tập Cho Sinh Viên</h1>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Xem Thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel End -->
</body>
</html>