<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Category Start -->
    <div class="container-fluid py-5" th:fragment="category">
      <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
          <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Chuyên Nghành</h5>
          <h1>Các Chuyên Nghành Phổ Biến</h1>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-1.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">Web Design</h4>
                <span>5 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-2.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">Development</h4>
                <span>4 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-3.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">Game Design</h4>
                <span>3 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-4.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">Apps Design</h4>
                <span>7 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-5.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">Marketing</h4>
                <span>10 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-6.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">Research</h4>
                <span>8 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-7.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">Content Writing</h4>
                <span>9 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
              <img class="img-fluid" src="home-stt/img/cat-8.jpg" alt="">
              <a class="cat-overlay text-white text-decoration-none" href="">
                <h4 class="text-white font-weight-medium">SEO</h4>
                <span>12 Tin tuyển dụng</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Category Start -->
</body>
</html>