<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block" th:fragment="menu-sidebar">
      <div class="logo">
        <a href="#">
          <img src="admin/images/icon/logo.png" alt="Cool Admin" />
        </a>
      </div>
      <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar__list">
            <li class="active">
              <a href="table.html"> <i class="fas fa-table"></i>Tài Khoản</a>
            </li>
            <li>
              <a href="form.html"> <i class="fas fa-desktop"></i>Videos</a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <!-- END MENU SIDEBAR-->

</body>
</html>