<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/page/layout-home.html}">
<head>
    <meta charset="UTF-8">
    <title>Phòng Quan Hệ Doanh Nghiệp - FPT Polytechnic Đà Nẵng</title>
</head>
<body>
  <div layout:fragment = "content">
      <div th:replace="/page/fragments/carousel :: carousel"></div>

      <div th:replace="/page/fragments/category :: category"></div>

      <div th:replace="/page/fragments/courses :: courses"></div>
  </div>
</body>
</html>